<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991147658626-dd6c3nl214kecjsnmdqiel35n453njqc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991147658626-dd6c3nl214kecjsnmdqiel35n453njqc</string>
	<key>API_KEY</key>
	<string>AIzaSyAnYgNA_PwEH_wjbcJILU65U-OYLpPUUnw</string>
	<key>GCM_SENDER_ID</key>
	<string>991147658626</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jobcdp</string>
	<key>PROJECT_ID</key>
	<string>jobcdp-d1854</string>
	<key>STORAGE_BUCKET</key>
	<string>jobcdp-d1854.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991147658626:ios:f45333d42dedadc647939b</string>
</dict>
</plist>